#note-sections-nav {
    border: 1px solid #babec2;
    margin-left: -5em;
    margin-bottom: 2em;
}

#note-sections-nav .dropdown-menu {
    background-color: rgb(194, 191, 197);
    width: 300%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#note-sections-nav .dropdown-menu > .dropdown-item {
    transition-duration: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1em;
    padding-bottom: 1em;
}

#note-sections-nav .dropdown-menu > .dropdown-item:hover {
    background-color: rgb(229, 227, 231);
}

.stupid-divider {
    margin: 0;
}

#note-top h1::before, #note-top h2::before, #note-top h3::before, #note-top h4::before, #note-top h5::before, #note-top h6::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0 0;
}

#comments-section form button {
    width: 40%;
}

.comment-info {
    color: darkslategrey;
    font-family: roboto, Verdana, sans-serif;
    font-size: 1.5em;
}

.user-img img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#id_comment {
    height: 8em;
}

.comment-text p a {
    color: brown;
}

#comments textarea {
	width: 100%;
}

#loading-dock {
	height: 4em;
	border-radius: 5px;
	background-color: #f1f1f1;
}

#loading-dock button {
	width: 50%;
}

#image-h {
	text-align: right;
}

#load-gif {
	height: 100%;
};

.edit-comment-form > div {
    margin: auto;
}

.stupid-line {
    width: 70%;
}

.action-buttons {
    margin-bottom: 1em;
}

.comment-text {
    padding-top: 7px;
    min-height: 50px;
    font-size: 1em;
    width: 70%;
    text-align: justify;
}

.comment .action-buttons > button {
    text-decoration: none;
}

.action-sq > a, .action-sq > input {
    text-decoration: none;
}

blockquote {
    border-left: 1px solid darkslategrey;
}

blockquote > p {
    padding-left: 1em;
    font-weight: bold;
}

#note-top {
    overflow: hidden;
}

#note-top img {
    max-width: 100%;
}