{% extends "base.html" %}

{% block title %}login{% endblock title %}

{% block login %}active{% endblock login %}

{% block content %}
    <style type="text/css">
        #login-form {
            margin-top: 3em;
            border: 0.4px solid rgb(230, 179, 170);
            border-radius: 5px;
            padding: 2em;
            /* height: 18em; */
        }
    </style>

    <div class="container col-sm-3">
        <p class="lead">sign in and imporove your experience</p>
    </div>

    <div class="container col-sm-3" id="login-form">
        {% comment %}Login errors{% endcomment %}
        {% if form.errors %}
            <span class="text-danger">Your username and password do not match</span>
        {% endif %}

        {% comment %}Access denied{% endcomment %}
        {% if next %}
            {% if user.is_authenticated %}
                <span class="text-danger">Your account does not have access to this page</span>
            {% else %}
                <span class="text-danger">Login to see the page</span>
            {% endif %}
        {% endif %}

        {% comment %}login form{% endcomment %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label>{{ form.password.label_tag }}</label>
                {{ form.password }}
            </div>
            <input type="submit" class="btn-outline col-sm-3" value="sign in">
            <p>don't have an account? <a class="text-danger" href="{% url 'base_account:sign-up' %}">sign up</a></p>
        </form>
    </div>

{% endblock content %}