#user-image {
    height: 20em;
    width: 75%;
    margin-bottom: 5em;
}

#notifications-div {
    max-height: 100vh;
    overflow: auto;
}

.notification {
    padding: 0.5em;
    border: 0.5px solid cornsilk;
    border-radius: 12px;
    margin: 3px;
    background-color: #d1e8ff;
    cursor: pointer;
    transition: 0.6s;
}

.notification:hover {
    background-color: #d0dbe7;
}

.unread {
    background-color: #d6d8da;
}

.unread > .text-info {
    color: rgb(63, 25, 25) !important;
}

.unread:hover {
    background-color: #b7becc;
}