{% extends "base.html" %}
{% block title %}collaboration{% endblock title %}

{% block notes %}active{% endblock notes %}

{% block content %}
<style type="text/css">
    .coll-note {
        border: 1px solid cadetblue;
        border-radius: 8px;
        margin-top: 1em;
    }
</style>
<div class="container">
    <h2>notes that you can collaborate on</h2>
    <hr />
    {% if collaborations %}
        {% for collaboration in collaborations %}   
            <div class="coll-note col-md-8">
                <h3>{{ collaboration.title }}</h3>
                <span>by {{ collaboration.user }}</span>
                <hr/>
                <p>last modified {{ collaboration.get_last_modified }} {% if collaboration.get_last_modifier %} by {{ collaboration.get_last_modifier}}{% endif %}</p>
                <p>created {{ collaboration.created|date }} at {{ collaboration.created|time }} </p>
                <hr />
                <p>{{ collaboration.collaborators.all.count }} collaborators</p>
                <div class="row">
                    <a class="btn btn-link col-sm-1" href="{% url 'notes:note-edit' collaboration.id %}">edit</a>
                    <input class="col-sm-1" type="hidden">
                    <a class="btn btn-link col-sm-1" href="{% url 'notes:note-page' collaboration.id %}">view</a>
                </div>
            </div>
        {% endfor %} 
    {% else %}
        <h1 class="lead">nothing to show here</h1>
    {% endif %}

</div>
  
{% endblock content %}