<!-- Comments -->
<div id="comments">
    <h3>comments <small class="text-warning">{{ note.title }} has {% if comment_count > 0 %}{{comment_count}}{% else %}no{% endif %} comments</small></h3>
    <div>
        {% include "form_template.html" %}
        <hr>
        <script type="text/javascript">
            let commentArea = document.getElementById("id_comment");
            commentArea.placeholder = "add comment here (use '@username' to mention someone ',' '.' '?' are supported after the username)(markdown is supported)";
        </script>
    </div>
    {% if comments %}
        {% for comment in comments %}
            <div class="row text-primary comment">
                <div class="col-sm-1 user-img">                
                    <img src="{{comment.user.profile.image.url}}" alt="image of {{ comment.user }}">
                </div>
                <div class="col-sm-11">
                    <span class="comment-info"><strong>{{comment.user.get_full_name }}</strong> <small class="text-danger">@{{ comment.user }}</small> posted <strong class="dated">{{comment.get_created}}</strong></span>
                    <div class="comment-text">{{comment.comment_text|safe }}</div>
                </div>
            </div>
            <hr />
        {% endfor %}
    {% else %}
        <div id="no-comments">
            <h3 class="alert-heading text-center">no comments yet to {{ note.title }}</h3>
            {% if note.privacy == "PR" %}<h4 class="text-warning text-center">try making it public or for connected only and connecting to users</h4>{% endif %}
        </div>
    {% endif %}
</div>