{% extends "base.html" %}
{% load staticfiles %}
{% block title %}notes{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'notes/css/index.css' %}"/>{% endblock style %}
{% block notes %}active{% endblock notes %}

{% block content %}
    <div class="container">
        <h2>your notes</h2>
        <a href="{% url 'notes:note-create' %}" class="btn btn-outline-dark">add note</a>
        <a href="{% url 'notes:collaborate_page' %}" class="btn btn-outline-dark">collaborate</a>
        <hr>
        {% if notes %}
            <p>{% if count == 0 %}you have no notes yet{% else %}you have {{ count }} notes{% endif %}</p>
            <!-- each note -->
            <div class="row">
            {% for note in notes %}
                <div class="each-note col-md-3">
                    <a href="{{ note.get_absolute_url }}"><h3{% if note.user != user %} class="text-danger"{% endif %}>{{ note.title }}</h3></a>
                    {% if note.user != user %}<p>by {{ note.user }}</p>{% endif %}
                    <hr>
                    {% if note.get_last_modified %}
                    <span class="text-info">last modified {{ note.get_last_modified }}{% if note.get_last_modifier %} by {{ note.get_last_modifier}}{% endif %}</span><br />
                    {% endif %}
                    <p><span class="text-danger">{{ note.get_privacy }}</span> | <span class="text-info">{% if note.collaborative %}collaborative{% else %}not collaborative{% endif %}</span></p>
                    <hr>
                    <span class="text-info">created {{ note.created }}</span>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h1>no notes yet to view</h1>
            <a class="btn btn-link" href="{% url 'notes:note-create' %}">start creating now</a>
        {% endif %}
    </div>

{% endblock content %}