{% extends "base.html" %}

{% load static %}

{% block title %}reply to comment {% endblock title %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'notes/css/reply.css' %}">{% endblock style %}

{% block notes %}active{% endblock notes %}

{% block content %}
<div id="reply" class="container col-md-6">
    <div id="to">
        <h2>Reply to {{ comment }}<small><a href="{{ comment.note.get_absolute_url }}"> see</a></small></h2>
        
        <!-- Comment to reply to -->
        <div class="row comment">
            <!-- user image-->
            <div class="col-sm-2 user-image">
                <img alt="image of {{ comment.user }}" src="{{ comment.user.profile.image.url }}">
            </div>
            <div class="col-sm-9 comment_text">
                <div class="comment-body">
                    <div class="row"><h4><strong>{{ comment.user.get_full_name }} </strong><a href="{% url 'base_account:foreign-user' comment.user.id %}">@{{ comment.user }}</a> <span>posted {{ comment.get_created }}</span>{% if comment.is_modified %} <span class="edited text-info">edited</span> {% endif %}</h4> <br /></div>
                    <div>{{ comment.comment_text|safe }}</div>
                </div>
                <a href="{{ comment.note.get_absolute_url }}#comment{{comment.id}}">see</a>
            </div>
        </div>

        <!-- Reply Form-->
        <hr>
        <form method="post" action="{% url 'notes:reply-comment' comment.id %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="comment" cols="40" rows="4" class="form-control" placeholder="reply to the comment above (use '@username' to mention someone)" maxlength="140" required></textarea>
            </div>
            <hr>
            <div class="col-sm-3">
                <button class="form-control">reply</button>
            </div>
        </form>

        {% if replies %}
            <!-- All Replies -->
            <div id="replies">
                <hr >
                <h2>Replies <small>{{ replies.count }} replies</small></h2>
                {% for reply in replies %}
                    <hr>
                    <div class="row reply">
                        <div class="col-sm-2 user-image text-center">
                            <img alt="image for {{ reply.user }}" src="{{ reply.user.profile.image.url }}">
                        </div>
                        <div class="col-sm-9 reply-body">
                            <h5><strong>{{ reply.user.get_full_name }} </strong><a href="{% url 'base_account:foreign-user' reply.user.id %}">@{{ reply.user }}</a> posted {{ reply.get_created }} {% if reply.modified %}<small class="edited text-info"> edited</small>{% endif %}</h5>
                            <div>{{ reply.reply_text|safe }}</div>
                            
                            {% if reply.user == user %}
                                <!-- Reply actions-->
                                <div class="row">
                                    <button data-edit-form-id="edit-reply-{{ reply.pk }}" class="edit-reply btn col-sm-4">edit</button>
                                    <div class="col-sm-3"></div>
                                    <form class="col-sm-4" method="POST" data-reply-url="{% url 'notes:get-comment-reply' 'reply' reply.id %}" action="{% url 'notes:reply-actions' reply.id 'delete' %}">
                                        {% csrf_token %}
                                        <button type="submit" id="delete_reply" class="btn">delete</button>
                                    </form>
                                </div>
                                    
                                <!-- Reply edit form-->
                                <form id="edit-reply-{{ reply.pk }}" style="display: none;" class="reply-edit-form" action="{% url 'notes:reply-actions' reply.id 'edit' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <textarea id="edit-reply-{{ reply.pk }}-textarea" name="comment" cols="40" rows="4" class="form-control" placeholder="Edit the reply to the comment above (use '@username' to mention someone)" maxlength="140" required>{{ reply.original_reply }}</textarea>
                                    </div>
                                    <div class="form-actions row">
                                        <div class="col-sm-5">
                                            <button class="form-control" type="submit">edit</button>
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-5">
                                            <span class="btn btn-link abort" data-close-id="edit-reply-{{ reply.pk }}">abort</span>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2 class="text-center reply">no replies yet</h2>
        {% endif %}

    </div>
</div>

{% endblock content %}

{% block bottomScript %}<script src="{% static 'notes/js/reply.js' %}"></script>{% endblock bottomScript %}