{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}connect{% endblock title %}
{% block style %}<link href="{% static 'account/css/connect.css' %}" type="text/css" rel="stylesheet">{% endblock style %}

{% block account %}active{% endblock account %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% if connected %}
                <!-- Connected users -->
                <h2>Your connected users</h2>
                {% for friend in connected %}
                <div class="row user">
                    <div class="usr-img-d">
                        <img class="user-img" alt="image of {{ friend.username }}" src="{{ friend.profile.image.url }}">
                    </div>
                    <div class="user-info">
                        <span class="text-info">{{ friend.get_full_name }}</span><br />
                        <a href="{% url 'base_account:foreign-user' friend.id %}">@{{ friend }}</a>
                    </div>
                    <div class="action-btn">
                        <button data-request-type="disconnect" data-action-url="{% url 'base_account:exit' friend.id %}" class="btn btn-outline-danger disconnect-button js-action-btn">dis-connect</button>
                    </div>
                </div>
                <hr>
                {% endfor %}
            {% endif %}

            <!-- Connection suggestions -->
            {% if suggestions %}
                <h2>choose other users to connect with</h2>
                {% for friend in suggestions %}
                <div class="row user">
                    <div class="usr-img-d">
                        <img class="user-img" alt="image of {{ friend.username }}" src="{{ friend.profile.image.url }}">
                    </div>
                    <div class="user-info">
                        <span class="text-info">{{ friend.first_name }} {{ friend.last_name }}</span><br />
                        <a href="{% url 'base_account:foreign-user' friend.id %}">@{{ friend }}</a>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-outline-info connect-button js-action-btn" data-request-type="send" data-action-url="{% url 'base_account:connect' friend.id %}">connect</button>
                    </div>
                </div>
                <hr>
                {% endfor %}
            {% else %}
                <h2>no users to connect with available</h2>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if requests %}
                <!-- Connection requests -->
                <h2>Connection requests</h2>
                {% for connection_request in requests %}
                    <div class="row user">
                        <div class="usr-img-d">
                            <img class="user-img" alt="image of {{ connection_request.conn_sender.username }}" src="{{ connection_request.conn_sender.profile.image.url }}">
                        </div>
                        <div class="user-info">
                            <span class="text-info">{{ connection_request.conn_sender.get_full_name }}</span><br />
                            <a href="{% url 'base_account:foreign-user' connection_request.conn_sender.id %}">@{{ connection_request.conn_sender }}</a>
                        </div>
                        <div class="action-btn">
                            <button name="accept" data-request-type="accept" data-action-url="{% url 'base_account:accept' connection_request.id %}" class="btn btn-outline-dark accept-button js-action-btn">approve</button>
                            <button name="deny" data-request-type="deny" data-action-url="{% url 'base_account:deny' connection_request.id %}" class="btn btn-outline-danger deny-button js-action-btn">deny</button>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}

            {% if sent_connections %}
                <!-- Sent connection requests-->
                <h2>Sent requests</h2>
                {% for connection in sent_connections %}
                    <div class="row user">
                        <div class="usr-img-d">
                            <img class="user-img" alt="image of {{ connection.conn_receiver.user }}" src="{{ connection.conn_receiver.image.url }}">
                        </div>
                        <div class="user-info">
                            <span class="text-info">{{ connection.conn_receiver.user.get_full_name }}</span><br />
                            <a href="{% url 'base_account:foreign-user' connection.conn_receiver.user.id %}">@{{ connection.conn_receiver.user }}</a>
                        </div>
                        <div class="action-btn">
                            <button data-request-type="deny" data-action-url="{% url 'base_account:deny' connection.id %}" class="btn btn-outline-danger deny-button js-action-btn">cancel</button>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block bottomScript %}<script src="{% static 'account/js/connect.js' %}"></script>{% endblock bottomScript %}