{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Change Password{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'account/css/password.css' %}">{% endblock style %}
{% block account %}active{% endblock account %}

{% block content %}
    <div class="container col-md-5" id="password-change">
        <h2 class="text-center">Change Password</h2>
        {% include "form_template.html" %}

        <a href="{% url 'base_account:profile' %}">abort</a>

    </div>

{% endblock content %}