{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/password.css' %}">
    {{ form.media.css }}
{% endblock style %}
{% block account %}active{% endblock account %}

{% block content %}
    <div class="container col-md-5" id="password-change">
        <h2 class="text-center">Change Password</h2>
        {% include "form_template.html" %}

        <a href="{% url 'base_account:profile' %}">abort</a>
        <script>
            Array.from(document.getElementsByTagName("input")).map(item => item.classList.add('form-control'));
        </script>
    </div>

{% endblock content %}

{% block bottomScript %}{{ form.media.js }}{% endblock bottomScript %}