{% extends "base.html" %}
{% load staticfiles %}

{% block title %}profile{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'account/css/profile.css' %}">{% endblock style %}
{% block profile %}active{% endblock profile %}

{% block content %}
    {% if new_user %}
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Hello {{ user }},</strong> Welcome to note-world.<br /> Edit your details below.<br />Change <a href="{% url 'base_account:user-edit' user.pk %}">account details</a> or your <a href="{% url 'base_account:profile-edit' user.profile.pk %}">Profile details</a><br />Quickly learn how to use the site by following this <a href="{% url 'notes:index' %}?tag=newbie">link</a>
        </div>
    {% endif %}
    
    <div class="container">
        <h2>profile</h2>
        <p class="lead">your profile details</p>

        <div class="row">
            <div class="col-md-3">
                <img id="user-image" class="" src="{{ user.profile.image.url }}" alt="user iamge"/>

                <div>
                    <a href="{% url 'base_account:profile-edit' user.profile.pk %}" class="btn btn-primary">edit profile</a>
                    <a href="{% url 'base_account:user-edit' user.pk %}" class="btn btn-primary">settings</a>
                    <a href="{% url 'base_account:connected' %}" class="btn btn-primary">socialize</a>
                </div>
            </div>
            <div class="col-md-5">
                <h2>name</h2>
                {% if user.first_name %}
                    <p>{{ user.get_full_name }}</p>
                {% else %}
                    <a href="{% url 'base_account:profile-edit' user.pk%}" class="btn btn-link">add a name</a>
                {% endif %}
                <hr>
                <h2>user name</h2>
                <p>{{ user.username }}</p>
                <hr>
                {% if user.profile.pen_name %}
                    <h2>pen name</h2>
                    <p>{{ user.profile.pen_name }}</p>
                    <hr>
                {% endif %}
                <h2>date joined</h2>
                <p>{{ user.date_joined }}</p>
                {% if user.profile.gender %}
                    <hr>    
                    <h2>gender</h2>
                    <p>{{ user.profile.gender }}</p>
                {% endif %}
                {% if user.profile.occupation %}
                    <hr>
                    <h2>occupation</h2>
                    <p>{{ user.profile.occupation }}</p>
                {% endif %}
            </div>
            <div class="col-md-4" id="notifications-div">
                <!-- Notifications -->
                <h2>Notifications</h2>
                
                <!-- All notifications -->
                {% if notifications %}
                <div id="notifications">
                    <p class="alert alert-info">{% if new %}{{ new }}{% else %}no{% endif %} new notifications</p>
                    {% for notification in notifications %}
                        <div id="notification-{{ notification.pk }}" class="super-notification {% if not notification.opened %}unread{% endif %}">
                            <div class="notification">
                                <p class="text-primary">{{ notification.created }} ({{ notification.get_created }}) {% if not notification.opened %}unread{% endif %}</p>
                                <hr>
                                <p>{{ notification.message }}</p>                            
                            </div>                           
                            <hr>
                            <div class="text-center">
                                <button class="text-primary btn btn-link notification-open" data-read-url="{% url 'notifications:open' notification.id %}" data-new-location="{{ notification.url }}">open</button>
                                <button class="text-danger btn btn-link notification-delete" data-delete-url="{{ notification.del_url}}" data-notification-div-id="notification-{{ notification.pk }}">delete!</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="alert alert-info text-center"><h5>no notifications</h5></div>
                {% endif %}
            </div>
        </div>
        <br />

    </div>
{% endblock content %}

{% block bottomScript %}<script src="{% static 'account/js/profile.js' %}"></script>{% endblock bottomScript %}