{% extends "base.html" %}

{% block title %}edit profile{% endblock title %}

{% block profile %}active{% endblock profile %}

{% block content %}
    <style type="text/css">
        #profile-form {
            border: 0.4px solid rgb(230, 179, 170);
            border-radius: 5px;
            padding: 2em;
        }
    </style>

    <div class="container">
        {% if user.profile.id == profile.id %}
        <h2 class="text-center">Edit your profile</h2>
        <div class="col-md-8 container" id="profile-form">
            {% include "form_template.html" %}
            <a type="url" href="{% url 'base_account:profile' %}" class="btn-outline col-sm-3">abort</a>
        </div>
        {% else %}
            {% include 'action_forbiden.html' %}
        {% endif %}
    </div>

{% endblock content %}