{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}sigup{% endblock title %}
{% block style %}<link href="{% static 'account/css/signup.css' %}" type="text/css" rel="stylesheet">{% endblock style %}

{% block signup %}active{% endblock signup %}

{% block content %}
    <div class="col-sm-7 container">
        <div class="text-center">
            <h2>Sign up for notes world</h2>
            <p class="lead">sign up and create your first note and collaborate with others</p>
        </div>
            
        <div id="signup-form" class="container col-sm-7">
            <div>
                {% include "form_template.html" %}
                <p>already have an account? <a href="{% url 'login' %}">sign in</a></p>
            </div>
        </div>
    </div>
        
        
{% endblock content %}