{% load staticfiles %}
<style>
    #warning-image {
        width: 100%;
        height: 60vh;
    }

    .links > a {
        margin: 1em;
    }
</style>

<div id="action-violation" class="text-center">
    <img id="warning-image" src="{% static 'svg/warning.svg' %}" alt="action forbidden image" />
    {% if exception %}
        <h2>{{ exception}}</h2>    
    {% else %}
        <h2>You are not authorised to visit this page or execute the action you tried.</h2>
    {% endif %}
    <h5>Choose an action</h5>
    <div class="links">
        <a href="{% url 'base_account:connected' %}">connect users</a>
        <a href="{% url 'notes:collaborate_page' %}">collaborate</a>
        <a href="{% url 'notes:index' %}">see notes</a>
    </div>
</div>