{% load static %}

<form action="{{action_url}}" method="post" enctype="multipart/form-data" name="gen-form">
    {% if form.errors %}
        <div class="alert alert-info">correct the errors below</div>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div>
                {% for error in field.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <br />
        <div class="form-group">
            <label>{{ field.label_tag }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col-sm-3 ">
            <input id="ogSubmit" type="submit" class="btn-outline form-control" value="{{ input_name }}">
        </div>
        {% if second_btn %}
            <span class="col-sm-5"></span>
            <div class="col-sm-3">
                <button id="second-btn" class="btn-outline form-control" data-second-url="{{ second_btn.url }}">{{ second_btn.name }}</button>
            </div>
        {% endif %}
    </div>
</form>

{% if second_btn %}
    <script src="{% static 'js/formTemplate.js' %}"></script>
{% endif %}