<form action="{{action_url}}" method="post" enctype="multipart/form-data">
    {% if form.errors %}
        <div class="alert alert-info">correct the errors below</div>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div>
                {% for error in field.errors %}
                    <span class="alert alert-danger">{{ error }}</span><br />
                {% endfor %}
            </div>
        {% endif %}
        <br />
        <div class="form-group">
            <label>{{ field.label_tag }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <hr>
    <input type="submit" class="col-sm-3 btn-outline" value="{{ input_name }}">
</form>