html {
    font-size: 12px;
    font-family: "roboto", sans-serif;
}

h1 {
    font-family: calibri, sans-serif;
    font-size: 4em;
    color: cornflowerblue;
    margin-right: 0.7em;
}

h2 {
    font-family: calibri, sans-serif;
    color: cadetblue;
}

form {
    margin-bottom: 10em;
}

blockquote {
    border-left: 1px solid darkslategrey;
}

blockquote > p {
    padding-left: 1em;
    font-weight: bold;
}

#s-section {
    padding: 3em 0 3em 0;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 10px;
    }
}